.tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    margin-bottom: 1rem;
}
.tabela th, td{
    padding: 7px 15px;
    border-bottom: 1px solid #ddd;
}

.tabela td:first-child, th:first-child{
    text-align: left;
}

.tabela tr:hover {
    background-color: var(--cinza1);
}

.linha_selecionada {
    background-color: var(--cinza1);
}


.tabela {
    border: 1px solid var(--cinza2);
    font-size: 1rem;
    z-index: 6;
    overflow: hidden;
}

.tabela  td, .tabela th {
    border-right: 1px solid var(--cinza2);
    text-align: start;
}

.tabela th {
    background-color: var(--azul-1);
    font-weight: bold;
}

.tabela tr {
    position: relative; /* Permite que os elementos filhos usem position: absolute */
}

.table_tr {
    cursor: pointer;
}

.th_selecionar_todos {
    width: 0px;
}
/* CRUD: */

.acoes_tabela {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    text-align: right;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    transform: translateX(100%); /* Move o elemento para fora da tela (direita) */
    transition: transform 0.2s ease-in-out; /* Animação suave */
    padding: .2rem .6rem 0 0;
}

.acoes_tabela img {
    /* height: 100%;
    width: 100%; */
}

.table_tr td:not(.acoes_tabela):last-of-type {
    padding-right: 6.25rem; /* Ajusta o padding da última célula para acomodar os botões (100px em rem) */
}

.table_tr:hover .acoes_tabela {
    transform: translateX(0); /* Traz o elemento de volta para a posição original */
}

.input_tabela {
    border: 1px solid var(--cinza2);
    background-color: transparent;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    border-color: var(--cinza2);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: var(--secundaria);
}

.td_container_input {
    max-width: 7rem;
}

/* Deixar somente o botão de excluir da tabela */

.apenas_crud_excluir .acoes_tabela .btn_visualizar {
    display: none;
}
.apenas_crud_excluir .acoes_tabela .btn_editar {
    display: none;
}
.apenas_crud_excluir .table_tr td:not(.acoes_tabela):last-of-type {
    padding-right: 3.25rem !important;
}
