#modulo_dashboard {
    display: grid;
    grid-template-areas:
      "quantidade_total_produtos valor_total_estoque valor_total_estoque produtos_em_falta produtos_em_falta"
      "distribuicao_produtos_estoque valor_total_estoque_por_centro_estoque valor_total_estoque_por_centro_estoque div_produtos_maior_quantidade div_produtos_maior_quantidade"
      "distribuicao_produtos_estoque contatos contatos contatos contatos"
      "entrada_de_produtos entrada_de_produtos saida_de_produtos saida_de_produtos saida_de_produtos"
      "diferenca_entrada_saida diferenca_entrada_saida produtos_mais_vendidos produtos_mais_vendidos produtos_mais_vendidos";
      
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

.graficos h2 {
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    color: var(--azul_escuro);;
}

#div_quantidade_total_produtos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 18rem;
    min-width: 14rem;
    text-align: center;
}

#div_quantidade_total_produtos h2 {
    font-size: 1.3em;
}

.quantidade_produtos {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--azul);
}

#div_valor_total_estoque {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 18rem;
    min-width: fit-content;
    text-align: center;
}

.valores_estoque {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.valor_total {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--verde_dinheiro);
}

#div_produtos_em_falta {
    grid-column: 1 / span 2;
    max-width: 10rem;
    padding: 1rem 0 0 0;
}

#div_produtos_em_falta h2 {
    font-size: 1.3em;
}

#div_distribuicao_produtos_estoque {
    max-width: 18rem;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div_distribuicao_produtos_estoque h2 {
    margin-bottom: 1.3rem;
}

#grafico_distribuicao_produtos_estoque {
    max-width: 13rem;
    min-width: 10rem;
    max-height: 13rem;
    min-height: 10rem;
    aspect-ratio: 1/1;
    margin: 0 auto 1rem auto;
}

.card_info_porcetagem {
    display: flex;
    justify-content: space-between;
    gap: 0.9rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.192);
    background-color: var(--principal);
    margin-bottom: 1rem;
    border-left: 10px solid var(--azul);
}

.container_porcentagem_estoque {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
}

.porcemtagem_card {
    font-size: 1.4rem;
}

.destaque_azul {
    background-color: var(--azul);
    color: white;
    font-weight: bolder;
    box-shadow: 0px 10px 17.6px hsla(234, 76%, 67%, 0.363);
}

.quantidade_card {
    display: flex;
    align-items: center;
}

#div_valor_total_estoque_por_centro_estoque {
    grid-column: 2 / span 3;
    max-width: 37rem;
}

#div_valor_total_estoque_por_centro_estoque h2 {
    margin-bottom: 1.3rem;
}

.container_info_valor_estoque {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}

.container_barra_valor_estoque {
    margin-left: .5rem;
    width: calc(100% - 8rem);
}

.valor_estoque {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--verde_dinheiro);
    text-align: right;
    margin-left: 1rem;
}

.barra_valor_estoque {
    background-color: var(--azul);
    height: .6rem;
    width: 100%;
    border-radius: 0 3px 3px 0 ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.144);
}

#barra_valor_principal {
    width: 100%;
}

#barra_valor_secundario {
    width: 60%;
}

#barra_valor_reserva {
    width: 40%;
}

/* Grafico dos contatos: */
#div_contatos h2 {
    margin-bottom: 1.4rem;
}

#grafico_contatos {
    max-width: 14rem;
    max-height: 14rem;
}

.container_grafico_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

#modulo_dashboard {
    box-shadow: none;
}
.select2-selection {
    border: none !important;
    background-color: var(--azul-1) !important;
}
.item_dashboard {
    max-width: 800px;
    min-width: 400px;
    flex: 1 1 400px;
    height: min-content;
    background-color: var(--principal);
    padding: 0.8rem;
    margin: 0 0 1rem 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.144);
}
.header_grafico {
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
}
.header_grafico h2 {
    text-align: center;
    font: 600 1.2em arial;
    margin-bottom: 10px;
}
.filtro_grafico {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 15px;
}
.filtro {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-size: 0.9em;
}
.filtro span {
    white-space: nowrap;
}
.input_date {
    background-color: var(--azul-1);
    border: none;
    padding: 5px;
    border-radius: 5px;
    max-width: 127px;
} 
.config_grafico {
    font-size: 0.9em;
}
.config_grafico select {
    background-color: var(--azul-1); /* Cor de fundo do select */
    color: var(--secundaria); /* Cor do texto */
    border-radius: 5px; /* Arredondar bordas */
    border: none;
}
.config_grafico select:focus {
    outline: none; /* Remove o contorno padrão quando focado */
    border: none;
}

.config_grafico option {
    background-color: var(--azul-1); /* Cor de fundo das opções */
    color: var(--secundaria);
}
.config_grafico select option:hover {
    cursor: pointer;
    background-color: var(--azul1);
}

/* Tabela dashboard: */
#div_produtos_mais_vendidos {
    padding: 0;
    max-width: 500px;
}
#div_produtos_mais_vendidos .header_grafico {
    padding: .8em;
}
#tabela_dashboard td, #tabela_dashboard th {
    border-right: none;
}

#tabela_dashboard td:last-child, #tabela_dashboard th:last-child{
    text-align: right !important;
}

.td_nenhum_dado {
    margin: 1rem 0rem 1rem 1rem;
    white-space: nowrap;
}

@media (min-width: 1325px) {
    .item_dashboard {
        min-width: 495px;
    }
}
@media (min-width: 1295px) {
    .mini .item_dashboard {
        min-width: 500px;
    }
}
@media (max-width: 480px) {
    #modulo_dashboard {
        margin: 0 !important;
    }
    .graficos { 
        margin-right: 0;
    }
    /* Configurações do campo_select */
    /* BEM CSS: */
    /* Estilos no escopo da config_grafico */
    .config_grafico {
        .select2-container--default .select2-selection--single {
            height: 1.375rem !important;
            line-height: 1.375rem  !important;
            padding: 0 !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 1.375rem !important;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 1.375rem !important;
        }
    }

    /* Estilos globais para dropdown gerado pelo Select2 */
    .select2-container--default .select2-results__option--selected {
        font-size: 0.8rem !important;
    }

    .select2-container--default .select2-results__option {
        font-size: 0.8rem !important;
        padding: 4px 10px !important;
    }

    .select2-container--default .select2-results__option--highlighted {
        background-color: var(--azul1) !important;
        color: var(--secundaria) !important;
    }

    .item_dashboard {
        margin: 0 0.7rem 0.7rem 0.7rem;
        padding: 0.5rem;
        min-width: 200px;
        flex: 1 1 200px;
    }
    canvas {
        font-size: 0.8rem;
    }
    .main_principal {
        margin-top: 65px;
    }
    .filtro_grafico {
        gap: 7px;
    }
    .input_date {
        font-size: 0.75rem;
        width: 6rem;
        padding: 3px;
    }
}